<div>
	<div class="poke">
		Filter Pokemons: <input type="text" name="name" ng-model="filterType"/><br/>
	</div>
<!-- 	<ul>
		<li ng-repeat="r in pokemons | filter: { 'type': filterType }">
			{{ r.name + " " + r.type}}

			<img ng-src="{{r.img}}" class="pokemonPicture" />
		</li>
	</ul> -->


	<table ng-repeat="r in pokemons | filter: { 'type': filterType }" style="width:30%" class="poke table table-hover">
		<tr>
			<td style="width:30%">
				{{r.name}}
			</td>
			<td style="width:30%">
				{{r.type}}
			</td>
			<td style="width:10%; text-align:center">
				<img ng-src="{{r.img}}" class="pokemonPicture" />
			</td>
		</tr>
	</table>

</div>