<div id="formWrapper">

	<div id="formDiv">	
		<div ng-if="!isValidated" class="alert alert-danger">
			Form contains errors 
		</div>
		<form>
			<p> Name: <input class="pokeInp" type="text" name="name" ng-model="pokemon.name" ng-init="pokemon.name='Lugia'"></p><br/>
			<p> Type: <input class="pokeInp" type="text" name="type"  ng-model="pokemon.type" ng-init="pokemon.type='Water'"></p><br/>
			<button id="pokemonFormButton" ng-click="pokemonForm.addPokemonForm()">Add pokemon</button>
		</form>
	</div>

<!--     <div>
        {{pokemon.name}} {{pokemon.type}}
    </div> -->
</div>