<div>
	<div id="pokeDisplay">
		<div class="poke">
			Filter Pokemons: <input type="text" name="name" ng-model="filterType"/><br/>
		</div>

		<table class="poke table table-hover" ng-mouseover="getPosition($event)" ng-mouseleave="getPosition($event)">
			<thead>
				<tr>
					<th class="col-md-4">Name</th>
					<th class="col-md-4">Type</th>
					<th class="col-md-4">Picture</th>
				</tr>
			</thead>
			<tbody ng-repeat="r in pokemons | filter: { 'type': filterType }" >
				<tr ng-mouseover="setPicture(r.img)" ng-mouseleave="setPicture('../pictures/pokeball.jpg')">
					<td>{{r.name}}</td>
					<td>{{r.type}}</td>
					<td style="text-align:center;"><img ng-src="{{r.img}}" class="pokemonPicture"/></td>
				</tr>
			</tbody>
		</table>

	</div>

	<div id="picture">
		<div show-pokemon>

		</div>
	</div>

</div>